<%- include("headers.ejs") %>
<%- include("headerMenu") %>
<div class="errContainer">
    <div></div>
    <div>
        <div>Error 404</div>
        <div>We're sorry, we couldn't find this page</div>
        <div>Please try again or go back to the home page</div>
    </div>
    <div></div>
</div>
<%- include("footer.ejs")  %>