<%- include("headers.ejs") %>
<%- include("headerMenu.ejs") %>
<div class="list-container">
    <div>
        <div></div>
    </div>
    <div class="foto-background">
        <div class="foto-container pistacchio">
            <div class="title-pistacchio">Pistacchio</div>
            <div class="foto-grid">
                <img src="/images/carosel/img1.jpg" alt="">
                <img src="/images/carosel/img2.jpg" alt="">
                <img src="/images/carosel/img3.jpg" alt="">
                <img src="/images/carosel/img4.jpg" alt="">
                <img src="/images/carosel/img5.jpg" alt="">
                <img src="/images/carosel/img7.jpg" alt="">
            </div>
        </div>
        <div class="foto-container blue-sensation">
            <div class="title-blue">Blue Sensation</div>
            <div class="foto-grid">
                <img src="/images/carosel/img8.jpg" alt="">
                <img src="/images/carosel/img10.jpg" alt="">
                <img src="/images/carosel/img12.jpg" alt="">
                <img src="/images/carosel/img13.jpg" alt="">
                <img src="/images/carosel/img15.jpg" alt="">
                <img src="/images/carosel/img16.jpg" alt="">
            </div>
        </div>
        <div class="foto-container honey">
            <div class="title-honey">Honey</div>
            <div class="foto-grid">
                <img src="/images/carosel/img9.jpg" alt="">
                <img src="/images/carosel/img26.jpg" alt="">
                <img src="/images/carosel/img31.jpg" alt="">
                <img src="/images/carosel/img32.jpg" alt="">
                <img src="/images/carosel/img30.jpg" alt="">
                <img src="/images/carosel/img25.jpg" alt="">
            </div>
        </div>

    </div>
    <div></div>
</div>
<%- include("contacts.ejs") %>
<%- include("footer.ejs") %>