<%- include("headers.ejs") %>
<%- include("headerMenu.ejs") %>
<div class="circle-container">
    <div class="blue-circle">
        Blue Sensation
    </div>
    <div class="honey-circle"></div>
    <div class="pistacchio-circle"></div>
</div>