<section class="contact-container" id="contacts">
    <div></div>
    <div>
        <img src="/images/room1.jpg" alt="">
    </div>
    <div>
        <ul>
            <li>Gibèl Apartments</li>
            <li>Rruga Iliria, Durrës, Albania</li>
            <li>Email: gibel.apart@gmail.com</li>
            <li>Instagram: <a href="https://www.instagram.com/gibel_apartments/" target="_blank">@gibel.apartments</a></li>
            <a class="position" href="https://maps.app.goo.gl/3DzYA1xfuNFZVMCt5" target="_blank">Click here for directions</a>
        </ul>
    </div>
    <div>
        <ul>
            <li>Tel. 1234567890</li>
            <li>Cell. 0987654321</li>
        </ul>
    </div>
    <div>
        <form class="mail-form" action="/sendmail" method="post">
            <label for="fromMail">Email</label>
            <input name="fromMail" type="email">
            <label for="subject">Subject</label>
            <input name="subject" type="text">
            <label for="emailText">Email Text</label>
            <textarea class="email-text" name="emailText" id="" placeholder="Write here your email text ..."></textarea>
            <input class="send-mail" type="submit" value="Send email">
        </form>
    </div>
</section>

<!-- 
https://maps.app.goo.gl/3DzYA1xfuNFZVMCt5
 -->