<div>
    <ul>
        <li>Have a walk around the Vollga seafront</li>
        <li>Dive in historic Albania at Rodoni Cape</li>
        <li>Have a beautiful day at Currilla Beach</li>
        <li>Visit the great Mosque of Durres</li>
        <li>Visit Durres Archeological Museum</li>
        <li>Durres Roman Anfitheatre</li>
    </ul>
</div>