<div class="menu-container hidden ">
    <ul class="menu-voices">
        <li>Supermarkets</li>
        <li>Restaurants</li>
        <li>Taxis</li>
        <li>History</li>
        <li>Events</li>
    </ul>
</div>