<img src="./images/room1.jpg" class="img1" alt="">
<img src="./images/room2.jpg" class="img2" alt="">
<img src="./images/room4.jpg" class="img4" alt="">

<img class="line1" src="./images/line1.svg" alt="">
<section class="section2">
    <div class="rectangle-left" ></div>
    <img class="img3" src="./images/room3.jpg" alt="">
    <div>
        <div class="main-title" > Our Services</div>
        <p class="main-par"> Gibel Apartments it's more than a simple vacationing house. <br><br>
            We want you to relax, have a nice day and enjoy the moment. <br><br>

            Our apartments are located in Golem, Durrës, Albania. <br><br>
            They are up to the 12th floor, just a stair under the sky. <br><br>
            The view on Golem olive groves it's the peace of senses. <br><br>
            Your soul is going to breath mediterranian.            
            <br> <br>
            Let your experience begin here.
        </p>
    </div>
</section>