<div class="container-carosel">
    <div></div>
    <div class="left-arrow arrow"> <span class="material-symbols-outlined sli-arrow">
        arrow_back_ios
        </span> </div>
    <div class="img-cont">
        <img class="show-image" src="/images/carosel/img1.jpg" alt="">
        <div class="player">
            <span class="material-symbols-outlined play-stop">
                stop
                </span>
        </div>
    </div>
    <div class="right-arrow arrow"> <span class="material-symbols-outlined sli-arrow">
        arrow_forward_ios
        </span> </div>
    <div></div>
</div>