<img src="./images/room1.jpg" class="img1" alt="">
<img src="./images/room2.jpg" class="img2" alt="">
<img src="./images/room4.jpg" class="img4" alt="">

<img class="line1" src="./images/line1.svg" alt="">
<section class="section2">
    <div class="rectangle-left" ></div>
    <img class="img3" src="./images/room3.jpg" alt="">
    <div>
        <div class="main-title" > Our Services</div>
        <p class="main-par"> Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. 
             Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, 
             sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>